body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-size: 1.65rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html { 
    font-size: 62%;
}
header div{
    background-color:#fffcf5;
}
.logo{
    text-align: center;
}

header nav ul{ 
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    background-image:url(../assets/madera.jpg);
    font-weight: 500;
}

.inicio{
    padding: 8px 12px ;
    border-radius: 3px;
}
.inicio:hover{
background-color:#fff5be ;
transition: 0.2s;
}
.titulo {
    background-image: url(../assets/madera.jpg);
    font-size: 3rem;
    width: 80%;  
    margin: 1rem auto;
    text-align: center;
}

.grilla {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-gap: 15px;
    justify-content: center ;
    grid-template-areas: "prod1 prod2 prod3"
                        "prod4 prod5 prod6";
}

.grilla .producto1 {
    background-color:rgb(223, 189, 137);
    grid-area: prod1;
    text-align: center;
    border: 5px solid black;
}
.grilla .producto1 img {
    height: 280px;
    box-sizing: cover;
}
.grilla .producto2 {
    background-color:rgb(223, 189, 137);
    grid-area: prod2;
    text-align: center;
    border: 5px solid black;
}
.grilla .producto2 img {
    height: 280px;
    box-sizing: cover;
}
.grilla .producto3 {
    background-color:rgb(223, 189, 137);
    grid-area: prod3;
    text-align: center;
    border: 5px solid black;
}

.grilla .producto3 img {
    height: 280px;
    box-sizing: cover;
}
.grilla .producto4 {
    background-color:rgb(223, 189, 137);
    grid-area: prod4;
    text-align: center;
    border: 5px solid black;
} 
.grilla .producto4 img {
    height: 320px;
    box-sizing: cover;
}
.grilla .producto5 {
    background-color:rgb(223, 189, 137);
    grid-area: prod5;
    text-align: center;
    border: 5px solid black;
} 
.grilla .producto5 img {
    height: 320px;
    box-sizing: cover;
}
.grilla .producto6 {
    background-color:rgb(223, 189, 137);
    grid-area: prod6;
    text-align: center;
    border: 5px solid black;
} 
.grilla .producto6 img {
    height: 320px;
    box-sizing: cover;
}